<%- include('html') %>

<body>
        <div class="nahin-content">
            
            <%- include('topbar') %>

            <div class="product-all-history">
                
                <% if(history != null) for(let i=0; i<history.length; i++) {%>
                
                <div class="nahin-content-1">
                    <div class="order-info">
                        <p class="bold">Order ID: <%= history[i].id %></p>
                        <p>Total Price: <%= history[i].price %></p>
                        <p>Seller ID: <%= history[i].s_id %></p>    

                    </div>

                    <div class="order-state">
                        <% if (history[i].state == 0) { %>
                            <p>State: Pending</p>
                            <div class="Cancel">
                                <form action="/cancel" method="post">
                                    <% const orderID = history[i].id %>
                                    <input type="hidden" name="username" value="<%= username %>">
                                    <input type="hidden" name="name" value=<%= name %>>
                                    <input type="hidden" name="seller_id" value="<%= history[i].s_id %>">
                                    <input type="hidden" name="orderID" value="<%= orderID %>">
                                    <div class="cancel-button">
                                        <button type="submit" class="book">Cancel Order</button>
                                    </div>
                                </form>
                            </div>
                        <% } else if (history[i].state == -1) { %>
                            <p>State: Accepted</p>
                        <% } else if (history[i].state == 2) { %>
                            <p>State: Cancelled</p>
                        <% } else if (history[i].state == 3) { %>
                            <p>State: Delivered</p>
                        <% } %>

                        <% if(history[i].state == -1) { %>
                            <div class="confirm">
                                <form action="/pay" method="post">
                                    <% const orderID = history[i].id %>
                                    <input type="hidden" name="username" value="<%= username %>">
                                    <input type="hidden" name="name" value=<%= name %>>
                                    <input type="text" placeholder="Bank Key" name="key">
                                    <input type="hidden" name="seller_id" value="<%= history[i].s_id %>">
                                    <input type="hidden" name="orderID" value="<%= orderID %>">
                                    <div class="submit-button">
                                        <button type="submit" class="book">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="Cancel">

                                <%= name %>
                                <form action="/cancel" method="post">
                                    <input type="hidden" name="username" value="<%= username %>">
                                    <input type="hidden" name="name" value=<%= name %>>
                                    <input type="hidden" name="seller_id" value="<%= history[i].s_id %>">
                                    <input type="hidden" name="orderID" value="<%= orderID %>">
                                    <div class="cancel-button">
                                        <button type="submit" class="book">Cancel Order</button>
                                    </div>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </div>
                <%}%>

                <% if(history === null) { %>
                    <p>You haven't made any order yet</p>
                <% } %>
            </div>
        </div>

    </div>
    <script src="script.js">


    </script>
</body>

</html>