<%- include('html') %>

<body>


    <div class="app">

        <div class="nahin-content">
            <%- include('topbar') %>
            
            <!-- subcontent starts -->
            <div class="subcontent">

                <div class="product-all">
                    <div class="products">
                    
                        <!-- a product starts -->
                        <div class="product">
                            <div class="productimage">
                                <img src="./img/cat-4.jpg" alt="" height="128px">
                            </div>
                            <h3>Camera</h3>
                            <p>Price: $500</p>
        
                            <div class="quantity">
                                <h4>Quantity</h4>
                                <button class="minus1">-</button>
                                <span id="number1">0</span>
                                <button class="plus1">+</button>    
                            </div>
                        </div>
                        <!-- a product ends -->
                        
                        <!-- a product starts -->
                        <div class="product">
                            <div class="productimage">
                                <img src="./img/mobail.jpg" alt="" height="128px">
                            </div>
                            <h3>Mobile</h3>
                            <p>Price: $300</p>
        
                            <div class="quantity">
                                <h4>Quantity</h4>
                                <button class="minus2">-</button>
                                <span id="number2">0</span>
                                <button class="plus2">+</button>
                            </div>
                        </div>
                        <!-- a product ends -->
                        
                        <!-- a product starts -->
                        <div class="product">
                            <div class="productimage">
                                <img src="./img/laptop.jpg" alt="" height="128px">
                            </div>
                            <h3>Laptop</h3>
                            <p>Price: $1000</p>
    
                            <div class="quantity">
                                <h4>Quantity</h4>
                                <button class="minus3">-</button>
                                <span id="number3">0</span>
                                <button class="plus3">+</button>
                            </div>
                        </div>
                        <!-- a product ends -->
                    </div>
    
                    <button class="addtoorder">Add to
                        order</button>
                </div>

                <div class="added-info">
                    
                    <div class="user-info">
                        <p class="name"><%= name %></p>
                        <p><%= username %></p>
                    </div>

                    <div class="quantity-all">
    
                        <form action="/placeOrder" method="post">
                            <div class="quantity">
                                <label for="1">Product 1:</label>

                                <div class="amount">
                                    <input id="1" name="quantity-1">
                                </div>    
                            </div>
        
                            <div class="quantity">
                                <label for="1">Product 2:</label>
                                <div class="amount">
                                    <input id="2" name="quantity-2">
                                </div>    
                            </div>
                            <div class="quantity">
                                <label for="1">Product 3:</label>
                                <div class="amount">
                                    <input id="3" name="quantity-3">
                                </div>
                            </div>

                            <div class="total-price">
                                <label for="total">Total : </label>
                                <input id="total" name="total">
                            </div>
                            <div>
                            
                                <input type="hidden" name="username" value="<%= username %>">
                                <input type="hidden" name="name" value="<%= name %>">
                                <div class="confirmation">
                                    <button class="confirmorder">Place Order</button>
                                </div>
                            </div>
                            
                        </form>
    
                    </div>

                </div>


            </div>
            
            
        </div>

        </div>
    </div>
    <script src="script.js">


    </script>
</body>

</html>